body{
  background-color: #a6d3e7;
}

.container{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

/* header */

h1{
  color:#0eb4c0;
  text-align: start;
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 700;
}

/* main */

.item-label{
  display: flex;
  justify-content: space-between;
}

.item_mem{
  background-color: #a6d3e7;
  border-top: 0.15rem solid #b6b6b6;
}

.item_mem:last-child{
  border-bottom: 0.15rem solid #b6b6b6;
}

/* Item Title */

.item_headline{
  font-size: 1.2rem;
  font-weight: 700;
  color:#1010c3;
  padding: 1rem;
  transition: 0.7s;
}

/* Label Img */

.item-img{
  width: 0;
  height: 0;
  transition:all 0.8s;
}


/* Button Cross */

.button_cross{
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem 1rem 0 0;
  background: url('./img/square-plus.svg')center no-repeat;
  transition: 0.7s;
  opacity: 0;
}

/* Cursor */

.item-label, .item-img, .item_mem{
  cursor: pointer;
}

/* Click */

.item_mem:active .item-img{
  opacity: 0.5;
}

.item_mem:active .item_headline{
  color: #1010c3
}

.item_mem:active .button_cross{
  background: url('./img/square-plus-blue.svg')center no-repeat;
}

